
.game-input{
    width: 50px;
    margin-left: 34px;
    display: inline-block;
}

.game-button{
    margin: 10px;
}

#text-group{
    margin-left: -160px;
}

#gameui{
    float: right;
    text-align: right;
    position: absolute;
    right: 15%;
    top: 75px;
}

#feedback-content{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

.col1{
    width: 15%;
    vertical-align: top;
    padding: 10px;
    padding-top: 20px;
}

.col2{
    width: 85%;
    padding: 10px;
}

#modalSubmit{
    padding-top: 15%;
}

#sidebar{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25%;
    height: 100%;
}

.menu-btn{
    position: absolute;
    top: 0;
    left: 0;
}

.home-btn{
    position: absolute;
    bottom: 0;
    left: 0;
}