
.game-input{
    width: 50px;
    margin-left: 34px;
    display: inline-block;
}

.thick{
    border: 3px solid white;
}

.game-button{
    margin: 10px;
}

#text-group{
    margin-left: -160px;
}

#canvas{
    margin-bottom: 5%;
}

#head{
    margin-bottom: 3%;
}

#gameui{
    float: right;
    text-align: right;
    position: absolute;
    right: 15%;
    top: 7%;
}

#feedback-content{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

.col1{
    width: 15%;
    vertical-align: top;
    padding: 10px;
    padding-top: 20px;
}

.col2{
    width: 85%;
    padding: 10px;
}

#modalSubmit{
    padding-top: 15%;
}

#sidebar{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 25%;
    min-width: 250px;
    height: 100%;
}

.menu-btn{
    position: fixed;
    top: 0;
    left: 0;
}

.home-btn{
    position: fixed;
    bottom: 0;
    left: 0;
}

.sheet-container{
    width: 200px;
    margin: 20 20;
    margin-right: 40px;
    display: inline-block;
    background-color: rgba(105, 104, 104, 0.472);
}

.sheet-collection{
    margin:0px 10% 0px 15%;
    height: 1000px;
    overflow-x: auto;
    overflow-x: scroll;
    overflow-y: hidden;
}

.fixed{
    position: fixed;
}

.title{
    width: 100%;
    height: 80px;
    position: fixed;
    top:0;
    background: white;
}

.level-element{
    width: 50%;
    display: inline-block;
    height: 50%;
}

.h-scroll::-webkit-scrollbar { 
    display: block; 
}

.h-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.h-scroll::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
	background-color: #F5F5F5;
}

.h-scroll::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 1px solid #555555;
}

.lock{
    background: rgba(161, 161, 161,0.7);
    z-index:5;
    width: 100%;
    height:100%;
    position:absolute;
}

.circle{
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    margin: 10px 0;
    margin-right: 40px;
    display: inline-block;
    border: 4px solid white;
}

.circle:hover{
    cursor: pointer;
}

.circle-content{
    margin-top: 40%;
}

.tutorial-content{
    margin:0px 10% 0px 15%;
    overflow-x: auto;
    overflow-x: scroll;
    overflow-y: hidden;
}

.about-content{
    display:inline-block;
    max-width:60%;
    float:left;
    padding:20px;
    padding-left: 10px;
}

.grey{
    background: lightblue;
}